@import 'bootstrap';
/*@import 'bootstrap-responsive';
*/
$maincolor: black;

 #map-canvas { 
 	height: 400px;
 	width: 400px;
 	margin: 0 auto;
 	position: absolute;
 	top: 150px;
 }

 h3 {
 	color: white;
 }

.navbar {
	display: inline-block;
}

.masthead {
  display: inline-block;
 }

.jumbotron {
	width: 300;
	opacity: .8;
}

#newuser {
	margin: 0 auto;
	width: 400px;
}

#newrest {
	margin: 0 auto;
	width: 350px;	
	position: relative;
	
}

#restlist {
	margin: 0 auto;
	width: 600px;	
	position: relative;
	
}

#restlistbox {
	margin: 0 auto;
	width: 600px;
	background-color: rgba(205, 45, 45, 0.7);
	color: black;
	border-radius: 20px;
	position: absolute;
}

#newrestbox {
	margin: 0 auto;
	width: 350px;
	background-color: rgba(205, 45, 45, 0.7);
	color: black;
	border-radius: 20px;
	padding: 20px;
	position: absolute;
}

li {
	color: $maincolor;
}

body {
	background-image: url(image-path('corks2.jpg'));
	background-size: cover;
	background-repeat: no-repeat;
}

.row div {
	border: 2px solid black;
}

.row {

	color: $maincolor;
}

body {
	background-color: $maincolor;
	font-family: helvetica;
}

#container {
	background-color: #eee;
	width: 800px;
	margin: 0 auto;

}

#indexcontainer {
	margin: 0 auto;
	background-color: black;
}
	