<div>
		<ul class="nav navbar-inverse nav-tabs navbar">

     	 <li><a href="/">Key Free</a></li>
       <li><a href="/">Home</a></li>
 			 <li><a href="/rests">List</a></li>
 			 <li><a href="/rests/new">New Rest</a></li>
 			 <li><a href="/users/new">New Users</a></li>
       <li><a href="/authentications/new">Sign In</a></li>
       <li><a href="/groups/">Groups</a></li>
       <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <a input class="btn btn-default" type="submit" href="/rests">Sign in</a></button>
              <a input class="btn btn-default" type="submit" href="/rests">New User</a></button>
          </form>
		</ul>
</div>
	