<!DOCTYPE html>
<html>
<head>
  <title>Keyfree</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<ul class="nav nav-tabs">
    		 <li><a href="/">Home</a></li>
 			 <li><a href="/rests">List</a></li>
 			 <li><a href="/rests/new">New Rest</a></li>
 			 <li><a href="/users/new">New Users</a></li>

 			<li> <form class="form-inline" role="form">
 				<div class="form-group">
   				 <label class="sr-only" for="exampleInputEmail2">Email address</label>
    				<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
				</div>
  				<div class="form-group">
   				 <label class="sr-only" for="exampleInputPassword2">Password</label>
  					  <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
 				</div>
  				<div class="checkbox">
  				  <label>
   				   <input type="checkbox"> Remember me
   				  </label>
 				</div>
  				<button type="submit" class="btn btn-default">Sign in</button>
				</form>
			</li>
		</ul>
	</nav>

<%= yield %>

<footer>Here's a footer</footer>

</body>
</html>
