<!DOCTYPE html>
<html>
<head>
  <title>Keyfree</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<ul class="nav nav-tabs">
    		 <li><a href="/">Home</a></li>
 			 <li><a href="/rests">List</a></li>
 			 <li><a href="/rests/new">New Rest</a></li>
 			 <li><a href="/users/new">New Users</a></li>

 			
		</ul>
	</nav>

<%= yield %>

<footer>Here's a footer</footer>

</body>
</html>
